<% if @article.creatable_by?(current_user) %>
  <%= link_to "New Article", new_article_path %>
<% end %>

<% unless @articles.blank? %>
  <% @articles.each do |article| %>
    
    <p>
    <% if article.readable_by?(current_user) %>
    <span>
      <%= article.name %>
    </span>

    <span>
      <%= link_to "Show Article", article_path(article) %>
    </span>
   <% end %>
    
     <% if article.updatable_by?(current_user) %>
      <span>
          <%= link_to "Edit Article", edit_article_path(article) %>
      </span>
     <% end %>

    <% if article.deletable_by?(current_user) %>
      <span>
        <%= link_to "Delete Article", article_path(article), :method => :delete, :data => {:confirm => "Are you sure to delete this file?"} %>
      </span>
    <% end %>
     
    </p>   
    <% end %>

  <% end %>